<div iscroll class="page-content not-header not-footer">
    <div class="container-fluid">
        <div class="clearfix container-fluid area-wrap">
            <p>验证码已发送至您的手机，请注意查收！</p>
        </div>
        <form class="form-horizontal form-line" novalidate form-validated="submit()" name="form">
            <div class="form-group clearfix" ng-class="{'has-error':form.cellPhone.$invalid && !form.cellPhone.$pristine}">
                <label class="control-label col-xs-5">手机号码</label>
                <div class="col-xs-7">
                    <div class="row">
                        <input type="text" name="cellPhone" ng-model="params.cellPhone" class="form-control" placeholder="请输入手机号码" required phone>
                        <div class="help-block" ng-messages="form.cellPhone.$error" ng-show="!form.cellPhone.$pristine">
                            <span ng-message="required">必填项不能为空</span>
                            <span ng-message="phone">请输入正确的手机号码</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix" ng-class="{'has-error':form.validateCode.$invalid && !form.validateCode.$pristine}">
                <div class="input-group">
                    <input ng-model="params.validateCode" name="validateCode" class="form-control" type="text" placeholder="请输入验证码" required>
                    <div style="padding:0;border-radius:0" class="input-group-addon">
                        <button do-validate="cellPhone" check-verify-code="getVerifyCode()" style="padding:6px 12px; border:none; background:none" type="button">重新获取验证码</button>
                    </div>
                </div>
                <div class="help-block" ng-messages="form.validateCode.$error" ng-show="!form.validateCode.$pristine">
                    <span ng-message="required">必填项不能为空</span>
                </div>
            </div>
            <div class="form-group clearfix" ng-class="{'has-error':form.serviceCode.$invalid && !form.serviceCode.$pristine}">
                <label class="control-label col-xs-5">新服务密码</label>
                <div class="col-xs-7">
                    <div class="row">
                        <input type="text" name="serviceCode" ng-model="params.serviceCode" class="form-control" placeholder="请输入服务密码" required>
                        <div class="help-block" ng-messages="form.serviceCode.$error" ng-show="!form.serviceCode.$pristine">
                            <span ng-message="required">必填项不能为空</span>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">提交</button>
        </form>
    </div>
</div>
